<form action="/api/imageupload"method="POST" enctype="multipart/form-data">
    <h3>UPLOAD PHOTO</h3>
    <input type="file" name="sampleFile" accept="image/*">
    <input type="submit" class="btn btn-primary">

    <div>
        <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
        Hey... say something!
        </textarea>
        </div>
        <input type="submit" value="Add comment">
</form>
