<form action=/api/register method="POST">
  <input type="text" name="firstName"
      placeholder="firstName">
  <input type="text" name="lastName"
      placeholder="lastName">

    <input type="text" placeholder="Enter Email" name="email" id="email" required>
  

  <input type="password" name="password"
      placeholder="password">
  <button type="submit">Submit</button>
</form>